@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
	.form {
		background-color:#b3d1f05e;
		height: 300px;
		width: 600px;
		margin-left: 250px;
		border: dotted #60cad5 1px;
		border-radius: 15px;
		margin-top: 160px;

	}
</style>


<div class="form">
	<br>

	<div style="text-align: center;">
		<h1>Please scan the barcode with your device</h1>
	</div>

	<div style="text-align: center;">
		<img src="/img/qr.png" height="200px" width="200px" alt="">
	</div>



</div>


