@{
    Layout = null;
}




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<link href="~/css/modern.css" rel="stylesheet" />

<style>
    .cadr {

        height: 713px;

    }

    .fi {
        width: 180px;
        height: 35px;
        border: 2px solid black;
        border-radius: 25px;
        text-align: center;
        text-shadow: crimson;
    }

    .center {
        border: 2px solid green;
        height: 60%;
    }
</style>
<div class="d-flex justify-content-center align-items-center  border cadr">
    <div class="row w-75 h-20 rounded shadow center">
        <div style="margin-top:50px ;">
            <h1 style="text-align: center;">Questionnaire Title: Test</h1>

            <h6 style="text-align: center; color: grey;">Please choose your language</h6>
        </div>

        <div class="row im" style="margin-left:30px;margin-top: 50px;">
            <div class="col-3">
                <div class="fi"><span style="font-weight:bold ;">English</span>
                    <img src="/img/english.jpg" alt="" style="width:12%;height:40%">
                </div>
            </div>
            <div class="col-3">
                <div class="fi"><span style="font-weight:bold ;">Farsi</span>
                    <img src="/img/iran.png" alt="" style="width:12%;height:40%">
                </div>
            </div>
            <div class="col-3">
                <div class="fi"><span style="font-weight:bold ;">German</span>
                    <img src="/img/germany.png" alt="" style="width:12%;height:40%">

                </div>
            </div>
            <div class="col-3">
                <div class="fi"><span style="font-weight:bold ;">Arabic</span>
                    <img src="/img/arabic.png" alt="" style="width:12%;height:40%">
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="row" style="margin-left:30px;margin-bottom:50px;">
            <div class="col-3">
                <div class="fi"> <span style="font-weight:bold ;">Hindi</span>
                    <img src="/img/india.png" alt="" style="width:12%;height:40%">
                </div>
            </div>
            <div class="col-3">
                <div class="fi"><span style="font-weight:bold ;">French</span>
                    <img src="/img/France.png" alt="" style="width:12%;height:40%">

                </div>
            </div>
            <div class="col-3">
                <div class="fi"><span style="font-weight:bold ;">Japanese</span>
                    <img src="/img/japan.png" alt="" style="width:12%;height:40%">

                </div>
            </div>
            <div class="col-3 shadow">
                <div class="fi "> <span style="font-weight:bold ;">Spanish</span>
                    <img src="/img/Spanish.png" alt="" style="width:12%;height:40%">
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:30px;margin-bottom:50px;">
            <div class="col-12">
                <a class="btn btn-success" style="margin-left:450px;margin-top:10px ;margin-bottom: 20px;"
                    href="/home/question1">Let's go <i class="align-middle me-2 fas fa-fw fa-arrow-right"></i></a>
            </div>

        </div>



    </div>
</div>