<style>
	.note {
		text-align: center;
		margin-top: 200px;
	}

	.form {
		background-color: #b3d1f05e;
		height: 150px;
		width: 700px;
		margin-left: 215px;
		border: dotted #60cad5 1px;
		border-radius: 15px;

	}

	#upload {
		display: none
	}
</style>






<div class="note">

	<h1>Please import your Green Form</h1>
</div>
<br>
<div class="form">
	<img style="margin-left:80px ;" src="/img/Upload.png" height="150px" width="150px" alt="">
	<div style="margin-left:230px; margin-top:-75px;">
		<h4>Import Form File</h4>
		<h6>in order to import your form <input id="upload" type="file" /> <a style="color: #4df02d;" id="upload_link"
				href="">Click</a> thorough your device</h6>
	</div>


</div>