@{
    Layout = null;
}



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<link href="~/css/modern.css" rel="stylesheet" />

















<style>
    .cadr {

        height: 800px;
    }

    .center {
        border: 2px solid green;

    }
</style>

<div class="d-flex justify-content-center align-items-center  border cadr">
    <div class="row w-75 border rounded shadow center">
        <div>
            <div class="col-12">
                <br>
                <h1 style="text-align: center;" class="">This is an integer type question ?</h1>

                <h6 style="text-align: center; color: gray;">(این سوال از نوع عددی می باشد؟)</h6>
            </div><br>
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Type your answer here">
                <a class="btn btn-success" style="margin-left:500px;margin-top:50px ;margin-bottom: 20px;"
                    href="/home/question2">Next <i class="align-middle me-2 fas fa-fw fa-arrow-right"></i></a>
            </div>

        </div>


    </div>
</div>