<style>
    .body {
        height: 450px;
        width: 1510px;
        border: 3px solid green;
        position: relative;
        justify-content: center;
        border-radius: 20px;

    }
</style>


<div class="body">

    <div class="container mt-6">
        <div class="col-12">
            <h1 style="text-align:center;">How old are you ?</h1>
        </div>
        <div class="col-12">
            <h2 style="text-align:center ;">(چند سالته ؟)</h2>
        </div>
        <div class="col-12">
            <input class="form-control" type="number">
        </div>
    </div>


</div>




<dir class="row" style="margin-top:15px ;">
    <div class="col-6">
        <a class="btn btn-success" style="width:120px ;" href="">Back</a>
    </div>
    <div class="col-6">
        <a class="btn btn-success" style="width:120px;float: right; margin-right:-20px;" href="">Next</a>
    </div>
</dir>